{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ request.user.username }}
{% endblock %}


{% block content %}
<div class="row m-5">
    <div class="col-md-2"></div>
    <div class="col-md-8">

                {% for post in posts %}
                             
                    <div class="card mb-5">
                        <img src="{{ post.image.url }}" class="img-fluid card-img-top" style="height: 450px;">
                        <div class="card-body">
                            {% if post.user.profile.avatar %}
                            <img src="{{ post.user.profile.avatar.url }}" class="img-thumbnail img-fluid rounded-circle mb-3"
                                style="width: 70px; height: 70px;">
                            {% else %}
                            <img src="{% static 'img/Avatar.png' %}" class="img-thumbnail img-fluid rounded-circle d-block mb-3"
                                style="width: 70px; height: 70px;">
                            {% endif %}
                            <a href="{% url 'account:user_profile' post.user.id %}" class="card-link"><strong
                                    class="text-center text-dark mb-4">{{ post.user.username }}</strong></a>
                            <small class="d-block py-2">{{ post.updated|date:"Y-M" }}</small>
                            <p class="card-text">{{ post.caption }}</p>
                        </div>
                        
                    </div>
                {% endfor %}
    </div>
    <div class="col-md-2"></div>
</div>
{% endblock %}
