{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}
    Password Confirm
{% endblock %}

{% block content %}
    <div class="row mt-5">
        <div class="col-md-4"></div>
        {% if validlink %}
            <div class="col-md-4 register_form">
                <form method="POST" novalidate >
                    <h3 class="text-center text-dark mb-5">Password Confirm</h3>
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.new_password1|attr:"placeholder:Your New Password ..."|add_class:'form-control' }}
                        {% for error in form.new_password1.errors %}
                            <p class="alert alert-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ form.new_password2|attr:"placeholder:Confirm Your New Password ..."|add_class:'form-control' }}
                        {% for error in form.new_password2.errors %}
                            <p class="alert alert-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                                    
                    {% if form.non_field_errors %}
                        <div class="alert alert-danger">
                            {% for error in form.non_field_errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <input type="submit" value="change" class="btn btn-primary btn-block">
                </form>
            </div>
            
        {% else %}    
            <p class="text-center text-dark mb-5">This link is not valid. please try again.</p>
        {% endif %}
        <div class="col-md-4"></div>
    </div>

{% endblock %}